In [104]:
import pandas as pd 
import matplotlib 
import os

In [105]:
housing_data = pd.read_csv('five_years_data.csv')

In [106]:
housing_data.head()

,Unnamed: 0,period_begin,period_end,city,state,property_type_id,median_sale_price,median_list_price,median_ppsf,median_list_ppsf,...,pending_sales,new_listings,inventory,months_of_supply,median_dom,avg_sale_to_list,sold_above_list,off_market_in_two_weeks,parent_metro_region,parent_metro_region_metro_code
0,5,2024-04-01,2024-04-30,Holiday Lakes,Texas,-1,56000.0,119900.0,58.577406,178.422619,...,1.0,1.0,3.0,3.0,102.0,0.861538,0.000000,0.000000,"Houston, TX",26420
1,12,2024-05-01,2024-05-31,Krugerville,Texas,-1,712000.0,675000.0,232.662252,246.702890,...,6.0,11.0,15.0,2.5,45.0,0.995242,0.166667,0.500000,"Dallas, TX",19124
2,25,2024-07-01,2024-07-31,Alice,Texas,-1,148000.0,165000.0,103.496503,107.415902,...,9.0,17.0,57.0,5.2,64.0,0.926397,0.090909,0.333333,"Alice, TX",10860
3,47,2021-04-01,2021-04-30,Alice,Texas,-1,252000.0,149000.0,106.554703,79.824561,...,16.0,15.0,27.0,4.5,102.0,0.985631,0.333333,0.312500,"Alice, TX",10860
4,83,2022-11-01,2022-11-30,Watauga,Texas,-1,284000.0,299900.0,199.408470,188.335358,...,22.0,19.0,33.0,1.8,39.0,0.984357,0.222222,0.272727,"Fort Worth, TX",23104

In [107]:
housing_data = housing_data.drop(columns=["Unnamed: 0", 'property_type_id','parent_metro_region', 'parent_metro_region_metro_code'])
housing_data.head()

,period_begin,period_end,city,state,median_sale_price,median_list_price,median_ppsf,median_list_ppsf,homes_sold,pending_sales,new_listings,inventory,months_of_supply,median_dom,avg_sale_to_list,sold_above_list,off_market_in_two_weeks
0,2024-04-01,2024-04-30,Holiday Lakes,Texas,56000.0,119900.0,58.577406,178.422619,1.0,1.0,1.0,3.0,3.0,102.0,0.861538,0.000000,0.000000
1,2024-05-01,2024-05-31,Krugerville,Texas,712000.0,675000.0,232.662252,246.702890,6.0,6.0,11.0,15.0,2.5,45.0,0.995242,0.166667,0.500000
2,2024-07-01,2024-07-31,Alice,Texas,148000.0,165000.0,103.496503,107.415902,11.0,9.0,17.0,57.0,5.2,64.0,0.926397,0.090909,0.333333
3,2021-04-01,2021-04-30,Alice,Texas,252000.0,149000.0,106.554703,79.824561,6.0,16.0,15.0,27.0,4.5,102.0,0.985631,0.333333,0.312500
4,2022-11-01,2022-11-30,Watauga,Texas,284000.0,299900.0,199.408470,188.335358,18.0,22.0,19.0,33.0,1.8,39.0,0.984357,0.222222,0.272727

In [108]:
# SOURCE: https://simplemaps.com/data/us-cities 
cities_population = pd.read_csv("uscities.csv")

# filter North Carolina, Virginia and Texas 
cities_population = cities_population[cities_population['state_name'].isin(['North Carolina', 'Texas', 'Virginia'])]
# Fetch only city, state_name and population columns 
cities_population = cities_population[['city', 'population', 'state_name']]
cities_population.head()

           city  population      state_name
4       Houston     6046392           Texas
5        Dallas     5843632           Texas
25  San Antonio     2069843           Texas
27       Austin     1915031           Texas
39    Charlotte     1436613  North Carolina

In [109]:
# mergind the populaiton datafram into the housind data (addinng us cities cesnus data to the housing data file)
housing_data = pd.merge(housing_data, cities_population, how='left', left_on=['city', 'state'], right_on=['city', 'state_name'])
housing_data = housing_data.drop(columns=['state_name'])

housing_data.head()

,period_begin,period_end,city,state,median_sale_price,median_list_price,median_ppsf,median_list_ppsf,homes_sold,pending_sales,new_listings,inventory,months_of_supply,median_dom,avg_sale_to_list,sold_above_list,off_market_in_two_weeks,population
0,2024-04-01,2024-04-30,Holiday Lakes,Texas,56000.0,119900.0,58.577406,178.422619,1.0,1.0,1.0,3.0,3.0,102.0,0.861538,0.000000,0.000000,853.0
1,2024-05-01,2024-05-31,Krugerville,Texas,712000.0,675000.0,232.662252,246.702890,6.0,6.0,11.0,15.0,2.5,45.0,0.995242,0.166667,0.500000,1929.0
2,2024-07-01,2024-07-31,Alice,Texas,148000.0,165000.0,103.496503,107.415902,11.0,9.0,17.0,57.0,5.2,64.0,0.926397,0.090909,0.333333,17797.0
3,2021-04-01,2021-04-30,Alice,Texas,252000.0,149000.0,106.554703,79.824561,6.0,16.0,15.0,27.0,4.5,102.0,0.985631,0.333333,0.312500,17797.0
4,2022-11-01,2022-11-30,Watauga,Texas,284000.0,299900.0,199.408470,188.335358,18.0,22.0,19.0,33.0,1.8,39.0,0.984357,0.222222,0.272727,23336.0

In [124]:
# filter Texas data based on cities population size in descending order to know the largest city based on population size 
texas_data = housing_data[housing_data['state']=='Texas']
texas_data = texas_data.sort_values(by='population', ascending=False)
texas_data.head(1)

,period_begin,period_end,city,state,median_sale_price,median_list_price,median_ppsf,median_list_ppsf,homes_sold,pending_sales,new_listings,inventory,months_of_supply,median_dom,avg_sale_to_list,sold_above_list,off_market_in_two_weeks,population
181246,2024-07-01,2024-07-31,Houston,Texas,159000.0,340000.0,150.397082,181.523283,170.0,185.0,270.0,1074.0,6.3,57.0,0.954549,0.052941,0.124324,6046392.0

In [125]:
# Filter Houston TX data (largest population)
huston_TX = texas_data[texas_data['city']=='Houston']
huston_TX.to_csv("huston_TX_data.csv", index=False)
huston_TX.head(1)

,period_begin,period_end,city,state,median_sale_price,median_list_price,median_ppsf,median_list_ppsf,homes_sold,pending_sales,new_listings,inventory,months_of_supply,median_dom,avg_sale_to_list,sold_above_list,off_market_in_two_weeks,population
181246,2024-07-01,2024-07-31,Houston,Texas,159000.0,340000.0,150.397082,181.523283,170.0,185.0,270.0,1074.0,6.3,57.0,0.954549,0.052941,0.124324,6046392.0

In [121]:
print(f"number of rows for Huston data is: {len(huston_TX)}")

number of rows for Huston data is: 300

In [122]:
# Filter the North Carlolina city population in Descing
NC_data = housing_data[housing_data['state']=='North Carolina']
NC_data.head()

,period_begin,period_end,city,state,median_sale_price,median_list_price,median_ppsf,median_list_ppsf,homes_sold,pending_sales,new_listings,inventory,months_of_supply,median_dom,avg_sale_to_list,sold_above_list,off_market_in_two_weeks,population
6,2020-02-01,2020-02-29,Carolina Beach,North Carolina,400000.0,392000.0,209.314495,280.095699,7.0,7.0,12.0,54.0,7.7,81.0,0.954115,0.000000,0.000000,6665.0
8,2024-01-01,2024-01-31,Winston-Salem,North Carolina,285000.0,249950.0,208.498024,159.820282,13.0,17.0,14.0,30.0,2.3,32.0,0.957714,0.153846,0.352941,434231.0
12,2022-03-01,2022-03-31,Edneyville,North Carolina,155000.0,NaN,163.157895,NaN,1.0,NaN,NaN,NaN,NaN,116.0,0.974843,0.000000,NaN,2698.0
14,2024-09-01,2024-09-30,Watha,North Carolina,209400.0,NaN,191.758242,NaN,1.0,NaN,NaN,NaN,NaN,25.0,0.950091,0.000000,NaN,244.0
17,2023-03-01,2023-03-31,Forest City,North Carolina,170000.0,154450.0,120.903318,70.158730,10.0,6.0,8.0,14.0,1.4,108.0,0.938850,0.100000,0.166667,7368.0